body {
    margin: 0;
    inset: 0;
    background-color: #263238;
    color: #4a555a;
}

a {
    color: rgb(78, 92, 99);
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
}

a:hover {
    color: #90A4AE;
}

a:active {
    color: #546E7A;
}

a:visited {
    color: #607D8B;
}

    /* Tooltip text source: w3schools*/
    .tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: rgba(0, 0, 0, 0.562);
    
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-variant: normal;
    font-size: 0.6em;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    left: 10.2vw;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

#navBar{

    height: 100vh;
    width: 10vw;
    background-color: #11171A;
    color: white;

    border-width:0px 1px 0px 0px;
    border-style:solid;
    border-color:#484949;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#navBar .tooltip {
    font-variant: small-caps;
    font-size: 1.1em;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(33, 44, 49);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;

    border-width:0px 1px 0px 0px;
    border-style:solid;
    border-color:rgb(47, 61, 68);
}

#navBar .tooltip:hover {
    margin-left: 0.5vw;
    background-color: rgb(47, 61, 68);
    border-color:rgb(57, 74, 82);
    border-width:0px 1px 0px 1px;
    color: rgb(24, 31, 34);
}