body {
    margin: 0;
    inset: 0;
    background-color: #344249;
    color: #0b0d0e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: #b6b6b6;
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
}

a:hover {
    color: #b6b6b6;
}

a:active {
    color: #b6b6b6;
}

a:visited {
    color: #b6b6b6;
}

.floatingContent {
    background-color: #f0f0f0;

    padding: 5px;

    border-width:1px;
    border-style:solid;
    border-color:#3f3c3c;

    align-self: flex-start;

    -webkit-box-shadow: 3px 2px 5px 0px rgba(24, 9, 9, 0.75);
    -moz-box-shadow: 3px 2px 5px 0px rgba(24, 9, 9, 0.75);
    box-shadow: 3px 2px 5px 0px rgba(24, 9, 9, 0.75);
}

/* Tooltip text source: w3schools*/
.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: rgba(0, 0, 0, 0.562);
    color: #b6b6b6;
    
    text-align: center;
    font-weight: normal;
    font-variant: normal;
    font-size: 0.6em;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    left: 10.2vw;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
visibility: visible;
}

.content-area-row {
    width: 32%;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.content-area-row > *{
    margin-bottom: 10px;
}

#content-area {
    position: absolute;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-flex-direction: row;

    left: 10vw;
    width: 90vw;
}

#content-area > * {
    margin: 0.5%;
}

#navBarPlaceholder {
    position: absolute;
    height: 100vh;
    width: 10vw;
    background-color: rgb(22, 28, 31);
    color: #b6b6b6;

    border-width:0px 1px 0px 0px;
    border-style:solid;
    border-color:#272727;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
}

#navBar {
    
}

#navBar .tooltip {
    background-color: rgb(31, 34, 36);
    margin-top: 0.5vh;
    padding: 10px;

    font-variant: small-caps;
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
    
    text-shadow: 3px 2px 0 rgba(0,0,0,0.2);

    border-width:0px 1px 0px 0px;
    border-style:solid;
    border-color:rgb(47, 61, 68);
}

#navBar > a .tooltip {
    margin-left: 0.5vw;
}

#navBar > a .tooltip:hover{
    background-color: rgb(35, 38, 39);
    margin-left: 1vw;

    color: rgb(121, 141, 151);

    border-color:rgb(85, 124, 143);
    border-width:0px 1px 0px 1px;
}

#navBar > a:active .tooltip {
    color:rgb(64, 112, 136);
    border-color:rgb(117, 57, 57);
}

#currentPage {
    background-color: rgb(35, 38, 39);
    color: rgb(85, 124, 143);
}